.features {
  padding: 4rem 2rem;
}

.card {
  background: #f2f3f5;
  padding: 6rem 2rem 2rem;
  margin-bottom: 1.5rem;
  color: #9ca1a7;
  font-size: .9rem;
}

.cardTitle {
  color: #313233;
  margin-bottom: .8rem;
  font-weight: 600;
}

.cardText {
  line-height: 1.4;
}

/* Feature Header */
.featureTitle {
  color: #313233;
  margin-bottom: .8rem;
  font-weight: 600;
}